body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    padding: 40%;
}

h1 {
    text-align: center;
    color: #003366;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
